@use "../foundations/colors";
@use "../foundations/general";

.welcome-page {
  &__background-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
      "a c e"
      "a c e"
      "a c e"
      "b c e"
      "b c f"
      "b c f"
      "b d f"
      "b d f"
      "b d f"
      "b d f";
    padding: 50px 20px;
    grid-gap: 20px;
    height: 100vh;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
      padding: 40px 16px;
      grid-gap: 16px;
    }
    @media screen and (max-width: 768px) {
      padding: 30px 12px;
      grid-gap: 12px;
    }
    @media screen and (max-width: 480px) {
      padding: 30px 8px;
      grid-gap: 8px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "a e"
        "a e"
        "c e"
        "c b"
        "c b"
        "c b"
        "f b"
        "f d"
        "f d"
        "f d";
    }
  }

  &__card {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: center;

    &-1 {
      grid-area: a;
      background-image: url("../../../assets/images/png/welcome-page/1.png");
    }
    &-2 {
      grid-area: b;
      background-image: url("../../../assets/images/png/welcome-page/2.png");
    }
    &-3 {
      grid-area: c;
      background-image: url("../../../assets/images/png/welcome-page/3.png");
    }
    &-4 {
      grid-area: d;
      background-image: url("../../../assets/images/png/welcome-page/4.png");
    }
    &-5 {
      grid-area: e;
      background-image: url("../../../assets/images/png/welcome-page/5.png");
    }
    &-6 {
      grid-area: f;
      background-image: url("../../../assets/images/png/welcome-page/6.png");
    }
  }
}
