@use "../../foundations/colors";

.quiz-success {
  &__sublabel {
    margin-bottom: 25px;
  }
  &__massage {
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 1px;
      background-color: colors.$interact-color;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__warning {
    font-weight: 400;
  }
  &__question {
    font-size: 18px;
    font-weight: 700;
  }
  &__button {
    min-height: 54px;
  }
}