@use "../foundations/colors";
@use "../foundations/mixins";

.Form {
  width: 385px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 54px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid colors.$inactive-color;
    border-radius: 6px;
    margin-bottom: 15px;
    @media screen and (max-width: 480px) {
      margin-bottom: 10px;
      min-height: 44px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.4em;
    }
    &::placeholder {
      color: colors.$inactive-color;
    }
    &:focus {
      outline: none;
    }
  }

  &__select {
    background-color: #fff;
    padding: 0;
    text-align: left;
    color: colors.$inactive-color;
    position: relative;
    &_active {
      border-radius: 6px 6px 0 0;
    }
  }

  &__select-active {
    cursor: pointer;
    font-size: 16px;
    padding-right: 45px;
    padding-left: 20px;
    min-height: 54px;
    height: min-content;
    display: flex;
    align-items: center;
    position: relative;
    @media screen and (max-width: 480px) {
      min-height: 44px;
      padding: 5px 40px 5px 15px;
      font-size: 14px;
    }
    &_active {
      color: black;
    }
    &::after {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 20px;
      right: 20px;
      background-image: url("../../../assets/images/svg/select-arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @media screen and (max-width: 480px) {
        right: 15px;
      }
    }
  }

  &__select-popup {
    position: absolute;
    right: -1px;
    top: 54px;
    width: 100%;
    background-color: #fff;
    border: 1px solid colors.$inactive-color;
    border-top: none;
    border-radius: 0 0 6px 6px;
    display: none;
    z-index: 5;
    &_active {
      display: block;
    }
  }

  &__popup-item {
    cursor: pointer;
    height: 54px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-top: 1px solid colors.$inactive-color;
    @media screen and (max-width: 480px) {
      height: 44px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__popup-item-marker {
    margin: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid colors.$inactive-color;
    box-sizing: border-box;
    @include mixins.flex-centered();
    &_active {
      border: 1px solid colors.$interact-color;
      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: colors.$interact-color;
      }
    }
  }

  &__popup-item-text {
    color: colors.$inactive-color;
    font-size: 16px;
    line-height: 1;
    &_active {
      color: black;
    }
    @media screen and (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      margin-top: 15px;
    }
    @media screen and (max-width: 480px) {
      margin-top: 12px;
      margin-bottom: 40px;
      position: relative;
      &::after {
        content: "При нажатии на кнопку вы соглашаетесь с условиями";
        display: block;
        width: 70%;
        position: absolute;
        top: 56px;
        font-family: "Roboto", sans-serif;
        color: black;
        font-size: 12px;
        text-transform: none;
      }
    }
  }

  &__checkbox-wrapper {
    margin-top: 15px;
    display: flex;
    column-gap: 8px;
    justify-content: left;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      margin-top: 12px;
    }
    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &__checkbox {
    margin: 0;
    width: 20px;
    height: 20px;
    border: 1px solid colors.$inactive-color;
    border-radius: 2px;
    cursor: pointer;
    &_checked {
      border: 1px solid colors.$interact-color;
      background-color: colors.$interact-color;
      background-image: url("../../../assets/images/svg/checkbox.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__checkbox-label {
    font-size: 1.4em;
    font-weight: 300;
    text-align: left;
    width: min-content;
    flex-grow: 1;
  }
}
