@use "../../foundations/general";
@use "../../foundations/colors";
@use "../../foundations/mixins";


.Button {
  @include mixins.flex-centered();
  min-height: 54px;
  box-sizing: border-box;
  padding: 0 30px;
  box-shadow: 0px 4px 15px 4px #00000026;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  font-size: 1.6em;
  line-height: 1.125;
  cursor: pointer;

  &_theme_main {
    border: 0;
    background-color: colors.$interact-color;
    color: white;
  }
  &_theme_additional {
    border: 1px solid colors.$interact-color;
    background-color: colors.$additional-color;
    color: colors.$interact-color;
  }

  &:disabled {
    opacity: 0.5;
  }
}